.outgoing-msg {
	text-align: right;
}

.fixed-panel {
  height: 100%;
}

.fixed-panel-body {
  min-height: 80%;
  max-height: 80%;
  overflow-y: scroll;
}

.type-field {
  position: relative;
  width: 100%;
}
